input,
button {
  /* border: 0; */
  outline: 0;
  border-width: 0px;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 80%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Merriweather", sans-serif;
  box-shadow: 0 1px 1px rgba(black, 0.3);
  resize: none;
  background-color: "#edecec";
}

input:focus {
  border-width: 1px;
  border-color: rgb(15, 190, 103);
}

#submit-button {
  color: white;
  background: red;
  cursor: pointer;
  width: 87%;
}
